*{
    margin: 0;
    padding: 0;
    
}
.navbar-nav{
    font-size: 18px;
    background-color:rgba(255, 233, 31, 0.377);
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 1; 
   
 } 
.progress{
    height: 25px;
    border-radius: 50px;
    transition: all 0.5s ease;
    
}
.progress:hover{
    transform: scale(1.1);
}
#about{
    background-color: rgba(136, 173, 173, 0.911);
}
#Skills{
    background-color: rgba(143, 123, 123, 0.863);
}
#home{
    background-color: rgba(101, 121, 112, 0.863);
}
#contact{
    background-color: rgba(180, 155, 176, 0.527);
    position: relative;
}
.media_link {
    padding: 1rem;
    align-self: start;
    max-width: 15rem;
    margin-bottom: 15rem;
    border-radius:0.5 rem ; 
    
}

   
